html{
  background: ivory;
}
figure{
  display: grid;
  width: 350px;
  height: 600px;
  justify-content: center;
  border: 1px solid gray;
  justify-items: center;
}
div{
  border: 1px solid gray;
  padding:2rem;
}
section{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 10px
}
img{
  display:block;
  position: center;
  width: 200px;
  height: auto;
}

p{
  display: block;
  position:center;
  align-content: center;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
